<% @videos.each do |vid| %>

<div class="thumbnail" style='height: 117px; width: 150px; padding: 10px;' >
  <%= video_frame_around "
      <div>
        <img src=\"#{vid.thumbnail}\" onload=\"onRegisterThumbnailHandlers('vid_#{vid.id}');\" alt=\"#{vid.title}\" id='vid_#{vid.id}' />
      </div>"
  %>
</div>
<% end %>
