<% @videos.each do |vid| %>

<%= video_frame_around "<a href=\"#{resource(vid)}\" id='vid_#{vid.id}'>
                          <div>
                            <img src=\"#{vid.thumbnail}\" alt=\"#{vid.title}\">
                          </div>
                        </a>" %>

<% end %>
